.container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

@media screen and (max-width: 700px), (orientation: portrait) {
  .container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: column;
  }
}

.item {
  flex: 1;
  justify-content: flex-start;
  padding: 10px;
}

hr.divider {
  border: 0;
  width: 2px;
  background: #333;
  background-image: linear-gradient(to right, #fff, #ccc, #fff);
}

li {
  text-align: left;
}

h1 {
  width: 100%;
  color: #3d3d3d;
  margin: 0;
  font-weight: bold;
  font-size: 24;
  text-align: left;
}
